main {
  font-family: Montserrat;
  max-width: 1028px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  text-align: center;
  margin: 30px 0;
}

li {
  display: inline-block;
}

nav a {
  color: #FF0000;
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 72px;
}

.main-content {
  text-align: center;
  font-weight: 400;
  margin: 48px 67.5px 42px;
}

h2 {
  margin-bottom: 48px;
}

.button {
  background-color: #FF0000;
  width: 191px;
  height: 51px;
  margin: 50px auto;
  border-radius: 4px;
}

.button a {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  color: white;
  padding: 18px 43.5px 17px 42.5px;
}

footer {
  color: #373737;
  padding:10px 0 ;
  margin: 40px 105px 29px 0px;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
